body{
  background: #333;
  background-image: url(https://cdn.discordapp.com/attachments/1020067811630010378/1174202944363700284/hewwo__2.gif?ex=66c41a35&is=66c2c8b5&hm=07adb1d9e3eda580cf2c9315b34e167478c3f8068589c78935bc2f7ec83685a5&);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}